{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
   <!--<div class="row">-->
        <!--<div class="col-md-8"><h4>Registrazione Fattura Fornitore</h4> </div>      -->
    <!--</div>-->

    <div class="row">
      <div class="col-md-3" id="cl0">  
            <p>Fornitore<select class="form-control" id="azienda"></p> 
                {% for entry in items %}
                    <option value="{{entry.id}}">{{entry.azienda}}</option>
                {%endfor%}
            </select> 
      </div>
        <div class="col-md-2" >  
          <div class="input-group" id="cldt2">
            <p>Margine:<input type = "number" id = "dt2"  class="form-control"></p>
            <button type="button" class="btn  btn-success btn-sm" id="btmrg">Cambia</button>
          </div>   
        </div>
        <div class="col-md-2" >  
          <div class="input-group" id="cldt6">
            <p>Dare:<input type = "number" id = "dt6"  class="form-control" readonly></p>
            <button type="button" class="btn  btn-success btn-sm" id="btcrc">Ricalcola</button>
          </div>   
        </div>
        <div class="col-md-2" >  
          <div class="input-group" id="cldt7">
            <p>Saldo:<input type = "number" id = "dt7"  class="form-control" readonly></p>
          </div>   
       </div>
    </br>
    </div>
  <div class="row">
       <div class="col-md-2" >  
          <div class="input-group" id="cldt3">
            <p>Citta:<input type = "text" id = "dt3"  class="form-control" readonly></p>
          </div>   
      </div>
       <div class="col-md-2" >  
          <div class="input-group" id="cldt4">
            <p>Regione:<input type = "text" id = "dt4"  class="form-control" readonly></p>
          </div>   
      </div>
       <div class="col-md-3" >  
          <div class="input-group" id="cldt5">
            <p>P.I.<input type = "text" id = "dt5"  class="form-control" readonly></p>
          </div>   
      </div>   
      </br>
       <div class="col-md-3 col-md-offset-1" >  
          <div class="btn-group" id="btcv">
            <button type="button" class="btn  btn-warning" id="btddt">Emetti</button>
          </div>

          <div class="btn-group" id="btslz">
            <button type="button" class="btn  btn-xs btn-warning" id="btsel">Seleziona</button>
          </div>

       </div>
  </div>  
      </br>
 
 
 
   <div class="row">
          <div class=" col-md-12" id="tbf1" >
            <table id="tablef1"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Spunta</th>
                        <th>Bolla</th>
                        <th>Data</th>
                        <th>Carico</th>
                       <th>Scarico</th>
                       <th>Facchinaggio</th>
                       <th>Trasporto</th>
                       <th>Vari</th>
                        <th>Margine</th>
                        <th>Mancanti</th>
                        <th>Stato</th>
                    </tr>
                </thead>
                <tbody id="tb61"></tbody>
            </table>
        </div>
        
        <div class=" col-md-12" id="tbf3" >
            <table id="tablef3"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Bolla</th>
                       <th>Articolo</th>
                       <th>Carico Lotti</th>
                       <th>Scarico Lotti</th>
                       <th>Carico Peso</th>
                       <th>Scarico Peso</th>
                       <th>Tara</th>
                       <th>Prezzo</th>
                        <th>Totale</th>
                    </tr>
                </thead>
                <tbody id="tb63"></tbody>
            </table>
        </div>
        
        <div class=" col-md-12" id="tbf2" >
            <table id="tablef2"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Bolla</th>
                        <th>Tipo</th>
                        <th>Data</th>
                        <th>Peso</th>
                       <th>Colli</th>
                       <th>Articolo</th>
                       <th>Venduto</th>
                       <th>Prezzo</th>
                        <th>Imponibile</th>
                        <th>Totale</th>
                    </tr>
                </thead>
                <tbody id="tb62"></tbody>
            </table>
        </div>
        
    </div>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Consultazione/contov.js' %}" ></script>
{% endblock %}
s