{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
   <div class="row">
        <div class="col-md-8"><h4>Ricerca per Cliente</h4> </div>      
    </div>
    </br>

    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn  btn-success" id="btncvt">Parziali</button>
            <button type="button" class="btn  btn-success" id="btncvc">Completi</button>
            <button type="button" class="btn  btn-success" id="btnf">Fatturati</button>
        </div>
    </div>
    
     <div class="row">
        <div class=" col-md-11" id="tbfcv1" >
            <table id="mytable"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Bolla</th>
                        <th>Articolo</th>
                        <th>Peso</th>
                        <th>Casse-Ingresso</th>
                        <th>Casse-Uscita</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tbcv6">
                </tbody>
            </table>
        </div>
    </div>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Consultazione/contovt.js' %}" ></script>
{% endblock %}
