{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
   <div class="row">
        <div class="col-md-8 "><h2>Elimina Fornitore</h2> </div>      
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-sm-3">        
            <span class="input-group-addon">Fornitore </span>    
            <select class="form-control" name="a1" id="lkfrn">
               {% for entry in items %}
                   <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
               {% endfor %}
            </select>
        </div>
        
        <div class="col-md-3">     
            <div class="input-group" id="cldt2">
                <p>Data Maggiore di:<input type = "text" id = "dt2"></p>
            </div>   
        </div>
  
        <div class=" col-md-6" id="idLKP" >
            <table id="mytable"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Codice</th>
                        <th>Quantita</th>
                        <th>Bolla</th>
                        <th>Data Carico</th>
                    </tr>
                </thead>
                <tbody id="tb3"></tbody>
            </table>
        </div>
    </div>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Consultazione/LKcaricofornitore.js' %}" ></script>
{% endblock %}
