{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container  col-md-offset-2">
   <div class="row" id="tt">
     <div class="col-md-2" >  
        <p>Totale:<input type = "integer" id = "tot" ></p>
    </div>
        <div class="col-md-2 " >  
          <div class="input-group" id="chc">
            <div class="radio">
              <label><input type="radio" name="linguaggio" value="19.03.03">Cassa</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="linguaggio" value="19.01.01">Banca</label>
            </div>
          </div>
        </div>

        
   </div>
   </br>

    <div class="row">
        <div class="col-md-3" id="cl">  
                <p>Cliente<select class="form-control" id="clientes"></p> 
                    {% for entry in items %}
                        <option value="{{entry.id}}">{{entry.azienda}}</option>
                    {%endfor%}
            </select> 
        </div>
        </br>
        <div class="col-md-3">
            <button type="button" class="btn  btn-success" id="bttt">Tutti</button>
        </div>

        <div class="col-md-3" id="pgm">  
            <p>Pagamento<select class="form-control" name="a6" id="pagam"></p>
              {% for entry in itemtp %}
                  <option value="{{ entry.giorni}}">{{ entry.tipo}} </option>
            {% endfor %}
            </select>
        </div>

        <div class="col-md-2" id="tott"> 
           <p>Totale<input type="text" id="totale" class="form-control" name="a3" min="0" readonly></p>
        </div>

        </br>
        <div class="col-sm-2"> 
            <button type="submit" class="btn btn-primary" id="btsel">Seleziona </button>  
            <button type="submit" class="btn btn-primary" id="btddt">Emetti </button>  
            <!--<button type="submit" class="btn btn-primary" id="btdt">Somma </button>  -->
        </div>
    </div>
    </br>

    <div class="row">
        <div class=" col-md-12" id="tbf1" >
            <table id="tablef"  class="table table-hover" >
                <thead id="thd">
                    <tr>
                        <th></th>
                        <th>Ddt</th>
                        <th>Cliente</th>
                        <th>Valore</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb6"></tbody>
            </table>
        </div>
        
        
        <div class=" col-md-12" id="tbf3" >
            <table id="tablef3"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Ddt</th>
                        <th>Cliente</th>
                        <th>Valore</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb63"></tbody>
            </table>
        </div>
        
          <div class=" col-md-12" id="tbf2" >
            <table id="tableddt"  class="table table-hover">
                <thead id="thd3">
                    <tr>
                        <th>Ddt</th>
                        <th>Articolo</th>
                        <th>Peso</th>
                        <th>Colli</th>
                        <th>Prezzo</th>
                        <th>Iva</th>
                        <th>Imponibile</th>
                        <th>Data</th>
                        <th>Lotto</th>
                    </tr>
                </thead>
                <tbody id="tb7"></tbody>
            </table>
        </div>
    </div>
</div>


  
{%endblock%}

{%block script%}
  <script src="{% static 'Fatturazione/Modifica/ddt-cliente.js' %}" ></script>
{% endblock %}
