{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">

    <div class="row">
    
    
     <div class="col-md-3">  
       <p>Cliente<select class="form-control" id="cln"></p>
         {% for entry in items %}
             <option value="{{ entry.id}}">{{ entry.azienda}}</option>
         {% endfor %}
       </select>
     </div>
        
        <div class="col-md-2" >  
          <div class="input-group" id="chc">
            <div class="radio">
              <label><input type="radio" name="linguaggio" value="19.03.03">Cassa</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="linguaggio" value="19.01.01">Banca</label>
            </div>
          </div>
        </div>

 
    <div class="col-md-3">     
          <div class="btn-group-sm" id="btctrl">
              <button type="button" class="btn  btn-success" id="btrs">Reso</button>
              <button type="button" class="btn  btn-success" id="btanl">Annulla</button>        
        </div>
    </div>
  
  
    <div id="valore">    
        <div class="col-md-2" id="pss"> 
            <p>Totale<input type="text" id="totale" class="form-control" readonly ></input></p>
        </div>
        <div class="col-md-2" id="css"> 
            <p>Saldo<input type="text" id="saldo" class="form-control" readonly ></input></p>
        </div> 
    </div>
</div>

    <div class="row">
        <div class=" col-md-8" id="tbf1" >
            <table id="tablef"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Num</th>
                        <th>Cliente</th>
                        <th>Totale</th>
                        <th>Saldo</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb6"></tbody>
            </table>
        </div>
    </div>
        
  <div class="row">
    <div class=" col-md-12" id="tbf" >
      <table id="mytable"  class="table table-hover">
          <thead id="thd">
              <tr>
                  <th>Codice</th>
                  <th>Peso</th>
                  <th>Colli</th>
                  <th>Iva</th>
                  <th>Prezzo</th>
                  <th>Imponibile</th>
                  <th>Lotto</th>
                  <th>Peso</th>
                  <th>Casse</th>
                  <th>Peso Residuo</th>
                  <th>Casse Residuo</th>
              </tr>
          </thead>
          <tbody id="tbfb"></tbody>
      </table>
  </div>
 </div>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Fatturazione/Modifica/Frecfatt.js' %}" ></script>
{% endblock %}
