{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">

    <div class="row">
        <div class="col-md-2">     
            <p>Cliente<select id="cln"></p>
                {% for entry in items %}
                    <option> {{entry.azienda}}</option>
                {%endfor%}
            </select>
        </div>
      <div class="btn-group-sm">
              <button type="button" class="btn  btn-success" id="btrs">Reso</button>
              <button type="button" class="btn  btn-success" id="btanl">Annulla</button>        
      </div>
    </div>

    <div class="row">
        <div class=" col-md-8" id="tbf1" >
            <table id="tablef"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Num</th>
                        <th>Cliente</th>
                        <th>Valore</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb6"></tbody>
            </table>
        </div>
    </div>
        
  <div class="row">
    <div class=" col-md-10" id="tbf" >
      <table id="mytable"  class="table table-hover">
          <thead id="thd">
              <tr>
                  <th>Codice</th>
                  <th>Peso</th>
                  <th>Colli</th>
                  <th>Iva</th>
                  <th>Prezzo</th>
                  <th>Imponibile</th>
                  <th>Lotto</th>
                  <th>Peso</th>
                  <th>Casse</th>
                  <th>Residuo</th>
              </tr>
          </thead>
          <tbody id="tbfb"></tbody>
      </table>
  </div>
 </div>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Fatturazione/Modifica/Frecfatt.js' %}" ></script>
{% endblock %}
