{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
 <div class="row">
  <div class="col-md-8 "><h4>Elimina Bolla</h4> </div>      
 </div>
 <br/>

 <div class="row">
  <form class="form-horizontal" action="elimina" method="post">
   <div class="col-md-4">
    <div class="input-group">
     <span class="input-group-addon">Bolla </span>
     <select class="form-control" name="a1" id="bolla">
       {% for entry in items %}
           <option >{{ entry.bolla}}:{{ entry.idcod__produttore__azienda}}</option>
       {% endfor %}
     </select>
    </div>
   </div>
   </br>   

  <div class="row">
        <div class=" col-md-11" id="tbf1" >
            <table id="tablef"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Articolo</th>
                        <th>Peso</th>
                        <th>Colli</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb6"></tbody>
            </table>
        </div>
    </div>

     <div class="row">
        <div class="col-md-3"> 
            <button type="submit" class="btn btn-primary" id="btn1">Elimina</button>  
        </div>
    </div>
        </form>
</div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Modifica/eliminabolla.js' %}" ></script>
{% endblock %}




