{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
   <div class="row">
        <div class="col-md-8 "><h4>Elimina Fornitore</h4> </div>      
    </div>
    <br/>


     <div class="row">
        <div class="col-sm-3">        
            <p>Fornitore<select class="form-control" name="a1" id="lkfrn"></p>
               {% for entry in prod %}
                   <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
               {% endfor %}
            </select>
        </div>


        <div class="col-md-3">     
            <div class="input-group" id="jj">
                <p>Data Maggiore di:<input type = "text" id = "dt2"></p>
            </div>   
        </div>
  
        <div class=" col-md-9" id="tbf1" >
            <table id="tablef"  class="table table-hover">
                <thead id="thd">
                    <tr>
                        <th>Num</th>
                        <th>Cliente</th>
                        <th>Peso</th>
                        <th>Colli</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody id="tb6"></tbody>
            </table>
        </div>
    </div>
</div>
  
  <p id="psps">{{el}}</p>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Modifica/Mfbolle.js' %}" ></script>
{% endblock %}
