{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container">
 

  <div class="row">

     <div class="col-md-1" id="fcg" >     
           <label >Facchinaggio</label></br>
           <input type = "text" id = "facc" style="width: 60px">
     </div>   
 
     <div class="col-md-1" id="trsp">    
           <label >Trasporto</label></br>
           <input type = "text" id = "tras" style="width: 60px">
     </div>   
     <div class="col-md-1" id="vr">     
        <label >Vari</label></br>
           <input type = "text" id = "vari" style="width: 60px">
    </div> 

    <div class="col-md-2" id="bl">
          <label >Bolla</label></br>
          <input type="text" id="bolla" class="form-control" name="a2" >
    </div> 

   <div class="col-md-3" id="cln">  
     <label >Azienda</label></br>
     <select class="form-control" name="cln" id="cliente">
       {% for entry in prod %}
           <option value="{{ entry.id}}">{{ entry.azienda}}</option>
       {% endfor %}
     </select>
   </div>

  <div class="col-md-1"> 
        <button type="button" class="btn  btn-success" id="btems">Emissione</button>
  </div>
  <div class="col-md-1"> 
        <button type="button" class="btn  btn-success" id="btanl">Annulla</button>
  </div>
  <div class="col-md-1 "> 
       <button type="submit" class="btn btn-primary" id="btadd">Aggiungi </button>  
   </div>
 </div>

 
  <div class="row">
   <div class="col-md-2" id="dtft">   
        <label >Data</label></br>
         <input type = "text" id = "dt2" style="width: 85px">
   </div>     
  
  
    <div class="col-md-4" id="cod">  
      <label >Codice</label></br>
      <select class="form-control" name="a1" id="codice">
      </select>
   </div>
  
  
   <div class="col-md-2" id="ps"> 
     <label >Peso</label></br>
     <input type="number" id="peso" class="form-control" name="a2" placeholder="KG" min="0">
   </div> 

   <div class="col-md-2" id="css"> 
        <label >Cassa</label></br>
     <input type="number" id="cassa" class="form-control" name="a4" placeholder="KG" min="0">
   </div> 

   <div class="col-md-2" id="prz"> 
        <label >Tara</label></br>
     <input type="number" id="prezzo" class="form-control" name="a3" min="0">
   </div>
  </div>
  </br>

<div class="row">     
   <div class=" col-md-12" id="tbf" >
      <table id="mytable"  class="table table-hover">
          <thead id="thd">
              <tr>
                  <th>Codice</th>
                  <th>Peso</th>
                  <th>Casse</th>
                   <th>Tara</th>
                  <th>Elimina</th>
              </tr>
          </thead>
          <tbody id="tbfb"></tbody>
      </table>
  </div>
 </div>
 </div>
 
 <p id="psps">{{el}}</p>
  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Creazione/bolla.js' %}" ></script>
{% endblock %}
