{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
 <div class="row">
  <div class="col-md-8 col-md-offset-2"><h4>Nuova Bolla</h4> </div>      
 </div>
 <br/>
 
  <div class="row">
   <div class="col-md-5">
     <div class="row">
      <div class="col-md-5"> 
       <div class="input-group" id="bl">
        <p>Bolla<input type="text" id="bolla" class="form-control" name="a2" ></p>
       </div>
      </div> 

     <div class="btn-group">
              <button type="button" class="btn  btn-success" id="btems">Emissione</button>
              <button type="button" class="btn  btn-success" id="btanl">Annulla</button>
      </div>
    </div>
    </br>

 
  <div class="row">
   <div class="col-md-7">  
    <div class="input-group" id="cln">
     <p>Cliente<select class="form-control" name="cln" id="cliente"></p>
       {% for entry in prod %}
           <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
       {% endfor %}
     </select>
    </div>
   </div>
  </div>
  </br>
  
  <div class="row">
    <div class="col-md-9">  
    <div class="input-group" id="cod">
     <p>Codice<select class="form-control" name="a1" id="codice"></p>
     </select>
    </div>
   </div>
  </div>
  
  
   <div class="row">
   <div class="col-md-4"> 
    <div class="input-group" id="ps">
     <p>Peso<input type="number" id="peso" class="form-control" name="a2" placeholder="KG" min="0"></p>
    </div>
   </div> 

   <div class="col-md-3"> 
    <div class="input-group" id="css">
     <p>Casse<input type="number" id="cassa" class="form-control" name="a4" placeholder="KG" min="0"></p>
    </div>
   </div> 
  </div>
</br> 

  <div class="row">
   <div class="col-md-4 "> 
    <div class="input-group" id="prz">
     <p>Prezzo<input type="number" id="prezzo" class="form-control" name="a3" min="0"></p>
    </div>
   </div>
  </div>
  </br>
  
   <div class="row">
     <div class="col-md-1 "> 
       <button type="submit" class="btn btn-primary" id="btadd">Aggiungi </button>  
   </div>
  </div>
 </div>
 
     
   <div class=" col-md-6 " id="tbf" >
      <table id="mytable"  class="table table-hover">
          <thead id="thd">
              <tr>
                  <th>Codice</th>
                  <th>Peso</th>
                  <th>Casse</th>
                   <!--<th>Aggiungi</th>-->
                  <th>Elimina</th>
              </tr>
          </thead>
          <tbody id="tbfb"></tbody>
      </table>
  </div>
 </div>
 </div>
 </br>
  

 
 
 <p id="psps">{{el}}</p>
 
 
</div>
  

  
{%endblock%}

{%block script%}
  <script src="{% static 'Magazzino/Creazione/bolla.js' %}" ></script>
{% endblock %}
