<!DOCTYPE html>

<html>
  <head>
      {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static '/Plugins/jquery-ui/css/jquery-ui.min.css' %}">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
      {% block css%}
      {% endblock %}
  </head>
  <body>

 <div class="nav-side-menu">
    <div class="brand">TRADE FOOD</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">


        
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> Magazzino <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li class="active"><a href="addart">Crea Codice</a></li>
                <li><a href="entrata">Bolla</a></li>
                <li><a href="elimina">Elimina Bolla</a></li>
            </ul>
       
            <li data-toggle="collapse" data-target="#vdt" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Vendita<span class="arrow"></span></a>
            </li>
           <ul class="sub-menu collapse" id="vdt">
                <li class="active"><a href="fattura">Documento </a></li>
                <li><a href="ddt">Ddt</a></li>
                <li data-toggle="collapse" data-target="#subservice99" class="collapsed">
                    <a href="#">Rec. Fatture<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice99">
                    <li class="active"><a href="lksps">Cliente</a></li>
                    <li><a href="recfatt">Totali</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice12" class="collapsed">
                    <a href="#">Rec. DDT<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice12">
                    <li class="active"><a href="lksps">Cliente</a></li>
                    <li><a href="recddt">Totali</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice9" class="collapsed">
                    <a href="#">Rec. Sospese<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice9">
                    <li class="active"><a href="lksps">Cliente</a></li>
                    <li><a href="sospesa">Totali</a></li>
                </ul>
            </ul>
            <li data-toggle="collapse" data-target="#pcv" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Pagamenti C/V<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="pcv">
                <li class="active"><a href="cvc">CLiente</a></li>
                <li class="active"><a href="cvt">Totali</a></li>
                <li class="active"><a href="fattfrn">Fattura Fornitore</a></li>
            </ul>       
            
            
            
            <li data-toggle="collapse" data-target="#rmz" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Rimanenza<span class="arrow"></span></a>
            </li>
                <ul class="sub-menu collapse" id="rmz">
                    <li class="active"><a href="lkrgraph">Grafico</a></li>
                </ul>       
            
           <li data-toggle="collapse" data-target="#service1" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Ricerca Gestione  <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service1">
                <li data-toggle="collapse" data-target="#subservice4" class="collapsed">
                    <a href="#">Fatture <span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice4">
                    <li class="active"><a href="lkftrcln">Cliente</a></li>
                    <li><a href="lkftr">Totali</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice5" class="collapsed">
                    <a href="#">Ddt<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice5">
                    <li><a href="gino">Totali</a></li>
                </ul>                
                <li data-toggle="collapse" data-target="#subservice7" class="collapsed">
                    <a href="#">Bolle<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice7">
                    <li><a href="lktotale">Totali</a></li>
                    <li><a href="lkfornitore">Per Fornitore</a></li>
                    <li><a href="lkprodotto">Per Prodotto</a></li>
                </ul>                 
            </ul>
            
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Anagrafica <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li data-toggle="collapse" data-target="#subservice1" class="collapsed">
                    <a href="#">Fornitore <span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice1">
                    <li class="active"><a href="produttore">Nuovo</a></li>
                    <li><a href="mp">Modifica</a></li>
                    <li><a href="fe">Cerca/Elimina</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice2" class="collapsed">
                    <a href="#">Cliente<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice2">
                    <li class="active"><a href="ca">Nuovo</a></li>
                    <li><a href="modana">Modifica</a></li>
                    <li><a href="delcliente">Cerca/Elimina</a></li>
                </ul>    
                <li data-toggle="collapse" data-target="#subservice6" class="collapsed">
                    <a href="#">Articoli<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice6">
                    <li class="active"><a href="articolo">Nuovo</a></li>
                    <li><a href="ma">Cerca/Elimina</a></li>
                </ul>
            </ul>            
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Ricerca Fornitore<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li class="active"><a href="ricercaP">Nome</a></li>
                <li><a href="ricercaM">Margine</a></li>
                 <li><a href="ricercaA">Articoli</a></li>
            </ul>     
            
            
            <li data-toggle="collapse" data-target="#service11" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Report<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service11">
                <li class="active"><a href="rtot">Totale</a></li>
                <li data-toggle="collapse" data-target="#subservice44" class="collapsed">
                    <a href="#">Fornitore <span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice44">
                    <li class="active"><a href="rfrn">Totale</a></li>
                    <li><a href="lkftr">Categoria</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice55" class="collapsed">
                    <a href="#">Articolo<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice55">
                     <li><a href="rtotart">TotalArt</a></li>
                     <li><a href="rart">Articolo</a></li>
                </ul>                
                <li data-toggle="collapse" data-target="#subservice66" class="collapsed">
                    <a href="#">Cliente<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice66">
                    <li class="active"><a href="lkftrcln">Totale</a></li>
                    <li><a href="lkftr">Categoria</a></li>
                </ul>
            </ul>
        </ul>
    </div>
</div>
    
    
         {% block insert%}
         {% endblock %}
    
        {% block Tcontent %}
        {% endblock %}

      
<script src="{% static 'jquery-3.2.1.js' %}" ></script>
<script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}" ></script>
<script src="{% static 'cookie.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
 <script src="{% static 'gestione/layout.js' %}" ></script>

{% block script%}
{% endblock %}

  </body>
</html>