<!DOCTYPE html>

<html>
  <head>
      {% load static %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static '/Plugins/jquery-ui/css/jquery-ui.min.css' %}">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
      {% block css%}
      {% endblock %}
  </head>
  <body>

 <div class="nav-side-menu" ">
    <div class="brand" id="brand"></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list" id="nv1">
        <ul id="menu-content" class="menu-content collapse out">


        
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> Magazzino <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li class="active"><a href="addart">Crea Codice</a></li>
                <li><a href="entrata">Bolla</a></li>
                <li><a href="elimina">Elimina Bolla</a></li>
            </ul>
       
            <li data-toggle="collapse" data-target="#vdt" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Vendita<span class="arrow"></span></a>
            </li>
           <ul class="sub-menu collapse" id="vdt">
                <li class="active"><a href="fattura">Documento </a></li>
                <li><a href="ddt">Ddt -> Fattura</a></li>


                <li data-toggle="collapse" data-target="#subservice77" class="collapsed">
                    <a href="#">Nota Credito<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice77">
                    <li><a href="recfatt">Reso</a></li>
                    <li class="active"><a href="#">Abbuono</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice12" class="collapsed">
                    <a href="recddt">Rec. DDT<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice12">
                    <li class="active"><a href="#">Cliente</a></li>
                    <li><a href="#">Totali</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice9" class="collapsed">
                    <a href="#">Rec. Sospese<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice9">
                    <li class="active"><a href="#">Cliente</a></li>
                    <li><a href="sospesa">Totali</a></li>
                </ul>
                <li><a href="lkftr">Salda Fattura</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#pcv" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Acquisti-c/v<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="pcv">
                <li class="active"><a href="cvc">CLiente CV</a></li>
                <!--<li class="active"><a href="#">Totali</a></li>-->
                <li class="active"><a href="fattfrn">Registra Fattura</a></li>
                <!--<li class="active"><a href="fattfrnb">Fattura Bolla</a></li>-->
                <li class="active"><a href="regfattfrn">Salda Fattura</a></li>
            </ul>       
            
            
            
            <li data-toggle="collapse" data-target="#rmz" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i>Rimanenza<span class="arrow"></span></a>
            </li>
                <ul class="sub-menu collapse" id="rmz">
                    <li class="active"><a href="lkrgraph">Grafico</a></li>
                </ul>       
            
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Anagrafica <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li data-toggle="collapse" data-target="#subservice1" class="collapsed">
                    <a href="#">Fornitore <span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice1">
                    <li class="active"><a href="produttore">Nuovo</a></li>
                    <li><a href="mp">Modifica</a></li>
                    <li><a href="fe">Cerca/Elimina</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#subservice2" class="collapsed">
                    <a href="#">Cliente<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice2">
                    <li class="active"><a href="ca">Nuovo</a></li>
                    <li><a href="modana">Modifica</a></li>
                    <li><a href="delcliente">Cerca/Elimina</a></li>
                </ul>    
                <li data-toggle="collapse" data-target="#subservice6" class="collapsed">
                    <a href="#">Articoli<span class="arrow"></span></a>
                </li>
                <ul class="sub-sub-menu collapse" id="subservice6">
                    <li class="active"><a href="articolo">Nuovo</a></li>
                    <li><a href="ma">Cerca/Elimina</a></li>
                </ul>
            </ul>            

            <li data-toggle="collapse" data-target="#service11" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Report<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service11">
                <li class="active"><a href="rtot">Saldo Contabile</a></li>
                <li class="active"><a href="rfrn">Giornale</a></li>
                <li class="active"><a href="rscln">Saldo CLienti</a></li>
                <li class="active"><a href="rsfrn">Saldo Fornitori</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service111" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Fatturato<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service111">
                <li class="active"><a href="fattmese">Mese</a></li>
                <li class="active"><a href="rscln">Cliente</a></li>
            </ul>


<!--report mastrini-->
           <li data-toggle="collapse" data-target="#service01" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Report<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service01">
                <li class="active"><a href="contims">Conti Mastro</a></li>
                <li class="active"><a href="rfrn">Giornale</a></li>
                <li class="active"><a href="rscln">Saldo CLienti</a></li>
                <li class="active"><a href="rsfrn">Saldo Fornitori</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service011" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Fatturato<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service011">
                <li class="active"><a href="fattmese">Mese</a></li>
                <li class="active"><a href="rscln">Cliente</a></li>
            </ul>

<!--report mastrini-->


            
        </ul>
    </div>
</div>
    
    
         {% block insert%}
         {% endblock %}
    
        {% block Tcontent %}
        {% endblock %}

      
<script src="{% static 'jquery-3.2.1.js' %}" ></script>
<script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}" ></script>
<script src="{% static 'cookie.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
 <script src="{% static 'gestione/layout.js' %}" ></script>

{% block script%}
{% endblock %}

  </body>
</html>