
{% extends 'gestione/layout.html'%}


{%block insert%}

<div class="container">
  <div class="row">
    <div class="col-md-6">  
      <div class="jumbotron">
        <h1>Intestazione pagina <small>testo aggiuntivo</small></h1>
        <p>L'azienda si contraddistingue per la competenza nella progettazione 
         di predisposizione e gestione delle architetture IOT e per la professionalità
         del lavoro</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
      
      
      <a href="." class="button">Go to Home Page</a>

{%endblock%}