
{% extends 'gestione/layout.html'%}
{% load static %}
{%block insert%}


<!--<ul>-->
    <!--{% for key,value  in item.items %}           -->
            <!--<li> {{key}}: {{value}} </li>-->
    <!--{% endfor %}    -->
<!--</ul>-->


            
<div class="container col-md-offset-2">
    <div class="row">
        <div class="col-xs-2 "><h4>Crea Articolo</h4> </div>      
    </div>
    </br>

    <div class="row">
        <div class="col-md-3">   
            <p>Articolo<form class="form-inline" action="articolo" method="post"></p> 
                <select class="form-control" name="s1" id="slc1">
                    {% for entry in items %}
                        <option value="{{ entry.nome }}">{{ entry.nome}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-md-2">   
            <button type="submit" class="btn btn-primary">Insert</button>
        </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-3">   
        <input type="text" id="tx1" name="s2" list="ss2">
        <datalist  id="ss2"></datalist>
     </div>
   </div>
            </form>
</div>

{%endblock%}

{%block script%}
  <script src="{% static 'gestione/Settore.js' %}" ></script>
{% endblock %}

