{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container col-md-offset-2">
    <div class="row">
        <div class="col-md-8"><h4>Cerca Fornitore</h4> </div>      
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-3">        
            <div class="input-group">
                <p>Articolo<select class="form-control" name="a2" id="articolo"></p>
                   {% for entry in items %}
                       <option value="{{ entry.nome}}">{{ entry.nome}}</option>
                   {% endfor %}
                </select>
            </div>
        </div>     
      
      
      
        <div class=" col-md-5 col-md-offset-1" id="idLKP" >
            <table id="mytable"  class="table table-hover">
                <thead>
                    <tr>
                        <th>Azienda</th>
                        <th>Margine</th>
                        <th>Articoli</th>
                     </tr>
                </thead>
                <tbody id="tb1">
                </tbody>
            </table>
        </div>
    </div>
</div>
        
  
  
{%endblock%}

{%block script%}
  <script src="{% static 'Consultazione/GetArticolo.js' %}" ></script>
{% endblock %}
