{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"><h2>Cerca Fornitore</h2> </div>      
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-3">        
            <div class="input-group">
                <span class="input-group-addon">Articolo </span>    
                <select class="form-control" name="a2" id="articolo">
                   {% for entry in items %}
                       <option value="{{ entry.articolo}}">{{ entry.articolo}}</option>
                   {% endfor %}
                </select>
            </div>
        </div>     
        <br/><br/><br/>       
      
      
        <div class=" col-md-5" id="idLKP" >
            <table id="mytable"  class="table">
                <thead>
                    <tr>
                        <th>Fornitori</th>
                    </tr>
                </thead>
                <tbody id="tb1">
                
                </tbody>
            </table>
        </div>
    </div>
</div>
        
  
  
{%endblock%}

{%block script%}
  <script src="{% static 'Consultazione/GetArticolo.js' %}" ></script>
{% endblock %}
