{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container  col-md-offset-2">
    <div class="row">
        <div class="col-md-8"><h4>Cerca</h4> </div>      
    </div>
    <br/>

    <div class="row">
        <div class="col-md-3">        
            <div class="input-group">
                <p>Azienda<select class="form-control" name="a2" id="azienda"></p>
                   {% for entry in items %}
                       <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
                   {% endfor %}
                </select>
            </div>
        </div>     
        
        <div class=" col-md-1 col-md-offset-1" id="idLKP">
            <div class="input-group" >
                <p>Margine<input type="text" id="pr" class="form-control" name="a3" readonly></p>
            </div>
        </div>
    </div>
 
 </br> </br>
   <div class="row">
        <div class=" col-md-7  " id="idLKP1">
            <!--<table id="mytable"  class="table table-hover table-bordered" >-->
            <table id="mytable"  class="table table-hover" >
                <thead  class="thead-inverse">
                    <tr>
                        <th>Articoli</th>
                        <th>Varieta</th>
                     </tr>
                </thead>
                <tbody id="tt">
                </tbody>
            </table>
        </div>
    </div>
</div>
        
  
  
{%endblock%}

{%block script%}
  <script src="{% static 'Consultazione/GetProduct.js' %}" ></script>
{% endblock %}
