{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container  col-md-offset-2">

 <div class="row">
  <div class="col-md-3">        
   <form class="form-horizontal" action="mp" method="post">            
       
        <div class="input-group">
         <p>Azienda<select class="form-control" name="a2" id="azienda"></p>
           {% for entry in items %}
               <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
           {% endfor %}
       </select>
       </div>
       <br/><br/>       

       <div class="input-group" >
        <p>Regione<select class="form-control" name="a4" id="ct"></p>
        </select>
        </div>
        <br/><br/>
        

       <div class="input-group" >
       <p>Citta<select class="form-control" name="a5" id="cct" ></p>
       </select>
       </div>
       <br/><br/>

       <div class="input-group">
          <p>P.I.<input type="text" id="pi" class="form-control" name="a13" placeholder="PI" maxlength="11" min="11"></p>
       </div>
       <br/><br/>

       <div class="input-group" >
          <p>Contatto<input type="text" id="contatto" class="form-control" name="a3" placeholder="Contatto"></p>
       </div>
       <br/><br/>
     
       <div class="input-group" >
          <p>Data<input type="date" id="acq" class="form-control" name="a6" placeholder="Data"></p>
       </div>
 </div>
   
    <div class="col-md-3" >    
        <div class="input-group">
         <p>Capacità<select class="form-control" name="a7" id="cap"></p>
            <option value=""> Nessuna</option>
            <option value="Alta"> Alta</option>
            <option value="Media"> Media</option>
            <option value="Bassa"> Bassa</option>
          </select>
        </div>
          <br/><br/>
   
       
        <div class="input-group" >
          <p>E-Mail<input type="email" id="email" class="form-control" name="a8" placeholder="caca"></p>
       </div>
       
       
       <br/><br/>
      
       
       <div class="input-group" >
          <p>Tel.<input type="text" id="tel" class="form-control" name="a9" placeholder="Tel"></p>
       </div>
      <br/><br/>
      
       <div class="input-group" >
          <p>Termini di Pagamento<input type="number" id="trpag" class="form-control" name="a10" placeholder="gg" min="0"></p>
       </div>
       <br/><br/>
       
       <div class="input-group" >
          <p>Margine<input type="number" id="margine" class="form-control" name="a11" placeholder="%" min="0"></p>
       </div>
       <br/><br/>
       
       <div class="input-group" >
          <p>Fatturato<input type="number" id="fatturato" class="form-control" name="a12" placeholder="Quintali" min="0"></p>
       </div>
       <br/><br/>
       
        <button type="submit" class="btn btn-primary">Insert</button>
     </form>
    </div>
  </div>
 </div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'gestione/modify/Modifica.js' %}" ></script>
{% endblock %}
