{% extends 'gestione/layout.html'%}
{% load static %}

{%block insert%}

<div class="container">
   <div class="row">
        <div class="col-md-8 col-md-offset-2"><h2>Modifica Fornitore</h2> </div>      
    </div>
    <br/><br/>

 <div class="row">
  <div class="col-md-3">        
   <form class="form-horizontal" action="mp" method="post">            
       
        <div class="input-group">
        <span class="input-group-addon">Azienda </span>    
         <select class="form-control" name="a2" id="azienda">
           {% for entry in items %}
               <option value="{{ entry.azienda}}">{{ entry.azienda}}</option>
           {% endfor %}
       </select>
       </div>
       <br/><br/>       
       
       <div class="input-group" >
         <span class="input-group-addon">Articolo</span>
        <select class="form-control" name="a1" id="slc">
        </select>
        </div>
        <br/><br/>

       
       <div class="input-group" >
         <span class="input-group-addon">Regione</span>
        <select class="form-control" name="a4" id="ct">
        </select>
        </div>
        <br/><br/>
        
         <!--<select class="form-control" name="a10" id="lsart">-->
        <!--</select>-->
        <!--<br/><br/>-->
       
       
       <!--<input type="text" name="a2" list="cityname">-->
         <!--<datalist  id="cityname">-->
           <!--{% for entry in items3 %}-->
               <!--<option value="{{ entry.azienda }}">{{ entry.azienda}}</option>-->
           <!--{% endfor %}-->
       <!--</datalist>-->
       <!--<br/><br/>-->
     
       <div class="input-group" >
         <span class="input-group-addon">Citta</span>
       <select class="form-control" name="a5" id="cct" >
       </select>
       </div>
       <br/><br/>


       <div class="input-group" >
         <span class="input-group-addon">Contatto</span>
          <input type="text" id="contatto" class="form-control" name="a3" placeholder="Contatto">
       </div>
       <br/><br/>
       
       

     
       <div class="input-group" >
         <span class="input-group-addon">Data</span>
          <input type="date" id="acq" class="form-control" name="a6" placeholder="Data">
       </div>
   </div>
    
    <div class="col-md-3" >

        <div class="input-group">
        <span class="input-group-addon">Capacita</span>
         <select class="form-control" name="a7" id="cap">
            <option value=""> Nessuna</option>
            <option value="Alta"> Alta</option>
            <option value="Media"> Media</option>
            <option value="Bassa"> Bassa</option>
          </select>
        </div>
       <br/><br/>
       
        <div class="input-group" >
         <span class="input-group-addon">Email</span>
          <input type="email" id="email" class="form-control" name="a8" placeholder="caca">
       </div>
       
       
       <br/><br/>
      
       
       <div class="input-group" >
         <span class="input-group-addon">Tel</span>
          <input type="text" id="tel" class="form-control" name="a9" placeholder="Tel">
       </div>
      <br/><br/>
      
       <div class="input-group" >
         <span class="input-group-addon">Termini  pagamento</span>
          <input type="number" id="trpag" class="form-control" name="a10" placeholder="gg">
       </div>
       <br/><br/>
       
       <div class="input-group" >
         <span class="input-group-addon">Margine</span>
          <input type="number" id="margine" class="form-control" name="a11" placeholder="%">
       </div>
       <br/><br/>
       
       <div class="input-group" >
         <span class="input-group-addon">Fatturato</span>
          <input type="number" id="fatturato" class="form-control" name="a12" placeholder="Quintali">
       </div>
       <br/><br/>
       
        <button type="submit" class="btn btn-primary">Insert</button>
     </form>
    </div>
  </div>
 </div>
  
{%endblock%}

{%block script%}
  <script src="{% static 'gestione/modify/Modifica.js' %}" ></script>
  <!--<script src="{% static 'gestione/modify/Modifica_citta.js' %}" ></script>-->
{% endblock %}
