
{% extends 'gestione/layout.html'%}
{% load static %}
{%block insert%}

<!--{% for el in item %}-->
 <!--<p> {{el}} </p>-->
<!--{% endfor %}-->

<!--<ul>-->
    <!--{% for key,value  in item.items %}           -->
            <!--<li> {{key}}: {{value}} </li>-->
    <!--{% endfor %}    -->
<!--</ul>-->

       
<div class="container col-md-offset-2">
    <div class="row">
        <div class="col-xs-2 "><h4>Cerca/Elimina</h4> </div>      
    </div>
    </br>
    
   <div class="row">
        <div class="col-md-3">   
            <p>Articolo<form class="form-inline" action="ma" method="post"></p> 
                <select class="form-control" name="s1" id="slc1">
                    {% for entry in items %}
                        <option value="{{ entry.nome }}">{{ entry.nome}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-md-2">   
            <button type="submit" class="btn btn-primary">Elimina</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">   
            <select class="form-control" name="s2" id="tx1">
            </select>
        </div>
    </div>
            </form>
</div>    
    
{%endblock%}

{%block script%}
  <script src="{% static 'gestione/modify/Modifica_settore.js' %}" ></script>
{% endblock %}

